html{
    height: 100%;
}

body{
    background-color: rgb(47, 47, 47);
    background-image: url(images/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-image-width: auto;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    height: 118px;
    text-align: center;
}
.logo{
    height: 120px;
    width: 150px;
}

nav{
    background-color: rgba(0, 0, 0, 0.315);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main{
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
}

footer{
    background-color: rgba(0, 0, 0, 0.315);
    height: 100px;
    margin-bottom: 30px;
}

footer p{
    font-size: 14px;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
    font-size: 84px;
    color:white;
    font-family:'Dancing Script', cursive;
}
p{
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:white;
}

a{  
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
nav a{
    font-size: 12px;
    padding-left: 10px;
    padding-right:10px;
    text-decoration: none;
}
.maps{
    padding-bottom: 30px;
}